.about {
    margin-top: 152px;
    height: 551px;
}

.about__container {
    position: relative;
}

.about__img {
  
    width: 505px;
    height: 490px;
    float: left;
    object-fit: cover;
}

.about__content {
    position: absolute;
    top: 97px;
    right: 0;
    width: 785px;
    height: 455px;
    background: url(../../img/mountains.jpeg), no-repeat;
    padding-top: 70px;
    padding-left: 81px;
    padding-right: 81px;
    padding-bottom: 66px;
    border-radius: 5px;
    background-size: cover;
}

.about__text {
    margin-top: 37px;
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    max-width: 502px;
}

.about__button {
    margin-top: 37px;
}